/*-----------------
       IMPORT
------------------*/

@import url("reset.css");
@import url("variables.css");
@import url("common.css");

/*-----------------
       IMPORT
------------------*/


/*-----------------
       HEADER
------------------*/

header{
    background-color: var(--first-color);
    padding: 1.25rem 0 ;
    color: white;
}

.main-nav{
    display: none;
}

@media screen and (min-width:992px) {
    .hamburger {
            display: none;
        }

    .main-nav{
        display: block;
    }
    
}

/*-----------------
       HEADER
------------------*/





/*-----------------
       MAIN
------------------*/
/* 

----section hightlights------ */

.card-debug{
    background-color: var(--first-color-light);
    height:100px;
}

.hightlights .col{
    width: 100%;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
}

@media screen and (min-width:768px) {
    .hightlights .col{
        width: calc(100% / 3);
    }
    
    .hightlights .col:first-child{
        width: calc((100% / 3 ) * 2);
    }
}

/* ----section hightlights------ */ 




/* ----section strategic------ */

.strategic .col{
    width: 100%;
    margin: .625rem 0;
}

.strategic{
    background-color: var(--second-color);
}

@media screen and (min-width:768px) {
   .strategic .col{
    width: 50%;
   }

   .strategic .col:last-child{
    align-self: flex-end;
   }
    
}

/* ----section strategic------ */




/* ----section expert------ */

.expert .col{
    width: 100%;
    margin: .625rem 0;
}

.title-testimonial{
    text-align: center;
    padding: 1.25rem 0;
}

.title-testimonial h2{
    padding: .625rem 0;

}

.card-debug-2{
    border-radius: 1.25rem;
    height: 100px;
    background-color: var(--second-color);

}

.img{
    height: 50%;
}

.text-expert{
    height: 50%;
}


@media screen and (min-width:768px) {
      .card-debug-2{
        display: flex;
      }

      .img{
        width: 30%;
      }

      .text-expert{
        width: 70%;
      }
 }


 /* ----section expert------ */




 /* ----section Benefits------ */

 .benefits .col{
    width: 100%;
    margin: .625rem 0;
 }

 .benefits{
    background-color: var(--second-color);
    color: white;
    text-align: center;
 }

 .card-debug-3{
    padding: .625rem 0;
    border-radius: 1.25rem;
    color: black;
    background-color: white;
 }

 
 .benefits h2{
    padding: 1.875rem 0;
 }


@media screen and (min-width:768px) {
    .benefits .col{
        width: 50%;
    } 
}

 /* ----section Benefits------ */





  /* ----section About-us------ */
  
.about-us .col{
    width: 100%;
    margin: .625rem 0;

  }


.card-debug-4{
    height: 200px;
}


.card-debug-4 .img{
    height: 50%;
  }

  .text-about-us{
    height: 50%;
  }


  @media screen and (min-width:768px) {
    .about-us .col{
        width: 50%;
    }
  }
  
   /* ----section About-us------ */