/*-----------------
       IMPORT
------------------*/

@import url("reset.css");
@import url("variables.css");
@import url("common.css");

/*-----------------
       IMPORT
------------------*/


/*-----------------
       HEADER
------------------*/

header{
    background-color: var(--first-color);
    padding: 1.25rem 0 ;
    color: white;
}

.main-nav{
    display: none;
}

@media screen and (min-width:992px) {
    .hamburger {
            display: none;
        }

    .main-nav{
        display: block;
    }
    
}

/*-----------------
       HEADER
------------------*/





/*-----------------
       MAIN
------------------*/
/* 

----section hightlights------ */

.card-debug{
    background-color: var(--first-color-light);
    height:100px;
}

.hightlights .col{
    width: 100%;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
}

@media screen and (min-width:768px) {
    .hightlights .col{
        width: calc(100% / 3);
    }
    
    .hightlights .col:first-child{
        width: calc((100% / 3 ) * 2);
    }
}

/* ----section hightlights------ */ 




/* ----section strategic------ */

.strategic .col{
    width: 100%;
    margin: .625rem 0;
}

.strategic{
    background-color: var(--second-color);
}

@media screen and (min-width:768px) {
   .strategic .col{
    width: 50%;
   }

   .strategic .col:last-child{
    align-self: flex-end;
   }
    
}

/* ----section strategic------ */




/* ----section exper------ */

.title-testimonial{
    text-align: center;
    padding: 1.25rem 0;
}

.title-testimonial h2{
    padding: .625rem 0;

}

