/*-----------------
       IMPORT
------------------*/

@import url("reset.css");
@import url("variables.css");
@import url("common.css");

/*-----------------
       IMPORT
------------------*/


/*-----------------
       HEADER
------------------*/

header{
    position: sticky;
    top: 0;
    background-color: var(--first-color);
    padding: .9375rem 0 ;
    color: white;
    
}

header h1{
    font-size:2.5rem ;
}


.hamburger{
    color: white;
    background-color: transparent;
    border: none;
    font-size: 1.875rem;
}


.btn-header{
    color: black;
    background: white;
    font-weight: 400;
    padding: .3125rem.625rem;
}


.main-nav{
    display: none;
}


/* ---desktop--- */
@media screen and (min-width:992px) {
    .hamburger {
            display: none;
        }

    .main-nav{
        display: block;
    }
    
}

/*-----------------
       HEADER
------------------*/





/*-----------------
       MAIN
------------------*/
/* 

----section hightlights------ */

.card-hightlights{
    background-color: var(--first-color-light);
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border-radius: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}


.text-hightlights{
    width: 100%;
    margin: 1.875rem 0;
    text-align: left;
    
}

.text-hightlights p{
    font-weight: bold;
    padding: 1.25rem 0;
    color: #5a6e7f;
}

.text-hightlights h2{
    color: var(--first-color);
}


.img-hightligts{
    align-self: flex-end;
    width: 100%;
    text-align: center;
    
}


.card-hightlights img{
    max-width: 250px;
    height: auto;
    }


.hightlights .col{
    width: 100%;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
}


.btn-hightlights{
    font-family: 'PT Sans', sans-serif;
    font-weight:600;
    font-size: 16px;
    border: none;
    color: white;
    padding: .3125rem 3.125rem;
    border-radius: 1.25rem;
    background-color: var(--first-color);
}


.icon-hightlights{
    width: 100%;
    text-align: center;
    padding: 1.875rem 0;
}


.icon-hightlights i{
    color: var(--first-color);
    font-size: 4.375rem;
}

.icon-hightlights h2{
    color: var(--first-color);
    padding: 1.875rem 0;
}



/* ---tablet--- */
@media screen and (min-width:768px) {
    .hightlights .col{
        width: calc(100% / 3);
    }
    
    .hightlights .col:first-child{
        width: calc((100% / 3 ) * 2);
    }
}

/* ---desktop--- */
@media screen and (min-width:992px) {
    .card-hightlights{
        flex-wrap: nowrap;
    }
}

/* ----section hightlights------ */ 




/* ----section strategic------ */

.strategic .col{
    width: 100%;
    margin: .625rem 0;
}

.strategic{
    background-color: var(--second-color);
}

@media screen and (min-width:768px) {
   .strategic .col{
    width: 50%;
   }

   .strategic .col:last-child{
    align-self: flex-end;
   }
    
}

/* ----section strategic------ */




/* ----section expert------ */

.expert .col{
    width: 100%;
    margin: .625rem 0;
}

.title-testimonial{
    text-align: center;
    padding: 1.25rem 0;
}

.title-testimonial h2{
    padding: .625rem 0;

}

.card-debug-2{
    border-radius: 1.25rem;
    height: 100px;
    background-color: var(--second-color);

}

.img{
    height: 50%;
}

.text-expert{
    height: 50%;
}


@media screen and (min-width:768px) {
      .card-debug-2{
        display: flex;
      }

      .img{
        width: 30%;
      }

      .text-expert{
        width: 70%;
      }
 }


 /* ----section expert------ */




 /* ----section Benefits------ */

 .benefits .col{
    width: 100%;
    margin: .625rem 0;
 }

 .benefits{
    background-color: var(--second-color);
    color: white;
    text-align: center;
 }

 .card-debug-3{
    padding: .625rem 0;
    border-radius: 1.25rem;
    color: black;
    background-color: white;
 }

 
 .benefits h2{
    padding: 1.875rem 0;
 }


@media screen and (min-width:768px) {
    .benefits .col{
        width: 50%;
    } 
}

@media screen and (min-width:992px) {
    .benefits .col {
        width: calc(100% / 3);
    }
}

 /* ----section Benefits------ */





  /* ----section About-us------ */
  
.about-us .col{
    width: 100%;
    margin: .625rem 0;

  }


.card-debug-4{
    height: 200px;
}


.card-debug-4 .img{
    height: 50%;
  }

.text-about-us{
    height: 50%;
  }


 @media screen and (min-width:768px) {
    .about-us .col{
        width: 50%;
    }
  }

@media screen and (min-width:992px) {
   .about-us .left{
    width: 70%;
   }

   .about-us .right{
    width: 30%;
   }
}



   /* ----section About-us------ */